<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i=0; i<movies.length; i++) { %>
        <a href="./movies/detail/<%= movies[i].id %>" >
            <h1>
                <%= movies[i].title %>
              </h1>
        </a>
    <% } %>  
    <a href="/movies/create">Crear Película</a>
</body>
</html>